<a href="https://colab.research.google.com/github/Sushant-git-001/Cognitive1/blob/main/Assignmnet1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1
print("Way down we go");

Way down we go

In [ ]:
# 2.1
a=4;
b=5;
c=a+b;
print(c);

9

In [ ]:
#2.2
s1="Death";
s2="Note";
s3=s1+s2;
print(s3);

DeathNote

In [ ]:
# 2.3
a="1";
b="string";
c=b+a;
print(c);

string1

In [ ]:
# 3.1
a=int(input("enter the number: "))
if a>0:
  print("number is positive ")
elif a<0:
  print("number is negative")
else:
  print("number is zero")

enter the number: -8
number is negative

In [ ]:
# 3.2
a=int(input("enter the number: "))
if a%2==0:
  print("number is even")
else:
  print("number is odd")

enter the number: 5
number is odd

In [ ]:
#4.1
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# 4.2
i=1
while i<11:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#4.3
sum=0
for i in range(1,101):
  sum=sum+i;

  print(sum)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

In [ ]:
# 5.1
num=[34,56,33,4,5]
i=max(num)
print(i)
j=min(num)
print(j)

56
4

In [ ]:
#5.2
dict={
  'ID':'102317141',
  'group':'2Q-16',
  'Name':'Sushant'
}
if('Name'in dict):
  print('Name is present in dict and has the value:',dict['Name'])
else:
    print('name is not present in dict')

name is present in dict and has the value: Sushant

In [ ]:
#5.3
Num=[2,3,1,4,23,90]
Num.sort()
print('the answer in ascending order is: ',Num)
Num.sort(reverse=True)
print('the answer in descending order is : ',Num)

the answer in ascending order is:  [1, 2, 3, 4, 23, 90]
the answer in descending order is :  [90, 23, 4, 3, 2, 1]

In [ ]:
#5.4
dict1={'name1':'sushant','Roll no.1':'102317141','Branch1':'CSE'}
dict2={'name2':'Manan','Roll no.2':'102317142','Branch2':'COE'}
merge={**dict1,**dict2}
print(merge)

{'name1': 'sushant', 'Roll no.1': '102317141', 'Branch1': 'CSE', 'name2': 'Manan', 'Roll no.2': '102317142', 'Branch2': 'COE'}