<a href="https://colab.research.google.com/github/Sushant-git-001/Cognitive1/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].
# i.
# WAP to add 200 and 300 to L.
# ii.
# iii.
# iv.
# WAP to remove 10 and 30 from L.
# WAP to sort L in ascending order.
# WAP to sort L in descending order.
#1.1
L=[10,20,30,40,50,60,70,80]
L.append(200)
L.append(300)
print(L)
#1.2
L.remove(10)
L.remove(30)
print(L)
#1.3
L.sort()
print(L)
#1.4
L.sort(reverse=True)
print(L)

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[300, 200, 80, 70, 60, 50, 40, 20]

In [15]:
#2
# Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and
# perform the following operations using tuple functions:
# i. Identify the highest score and its index in the tuple.
# ii. Find the lowest score and count how many times it appears.
# iii. Reverse the tuple and return it as a list.
# iv. Check if a specific score ‚Äò76‚Äô (input by the user) is present in the tuple and
# print its first occurrence index, or a message saying it‚Äôs not present.

#2.1
scores=(45,89.5,76,45,4,89,92,58,45)
print(max(scores))
print(scores.index(max(scores)))
#2.2
print(min(scores))
a=min(scores)
print(scores.count(a))
#2.3
L=list(reversed(scores))
print(L)
#2.4
A=int (input("Enter the number: "))
if A in scores:
  print(scores.index(A))
else:
    print("Entered Number is Not in the Tuple! ")

92
6
4
1
[45, 58, 92, 89, 4, 45, 76, 89.5, 45]
Enter the number: 100
Entered Number is Not in the Tuple!

In [23]:
#3
# WAP to create a list of 100 random numbers between 100 and 900. Count and print
# the:
# i. All odd numbers
# ii. All even numbers
# iii. All prime numbers
import random
L=[]
L1=[]
L2=[]
L3=[]
for i in range(100):
  L.append(random.randint(100,900))
  if(L[i]%2!=0):
    L1.append(L[i])
  if(L[i]%2==0):
    L2.append(L[i])
for i in range(100):
  count=0
  for j in range(1,L[i]+1):
    if(L[i]%j==0):
      count=count+1
  if(count==2):
    L3.append(L[i])

#3.1
print("odd numbers are: ",L1)
print("number of odd numbers: ",len(L1))
#3.2
print("even numbers are: ",L2)
print("number of even numbers: ",len(L2))
#3.3
print("prime Numbers are: ",L3)
print("number of prime numbers: ",len(L3))

odd numbers are:  [735, 133, 243, 475, 261, 423, 447, 283, 527, 419, 823, 753, 749, 855, 291, 383, 497, 837, 213, 499, 641, 219, 657, 337, 135, 247, 231, 299, 297, 133, 657, 401, 893, 793, 411, 369, 255, 557, 209, 267, 665, 685, 155, 625, 345, 453, 635, 167, 647, 343]
number of odd numbers:  50
even numbers are:  [100, 610, 318, 252, 520, 182, 430, 284, 344, 498, 512, 506, 154, 176, 636, 888, 434, 898, 858, 734, 822, 266, 336, 478, 534, 132, 662, 534, 336, 204, 792, 308, 456, 288, 590, 454, 500, 648, 246, 222, 500, 728, 228, 768, 586, 498, 850, 206, 366, 150]
number of even numbers:  50
prime Numbers are:  [283, 419, 823, 383, 499, 641, 337, 401, 557, 167, 647]
number of prime numbers:  11

In [29]:
#4
# Consider the following two sets, A and B, representing scores of two teams in multiple
# matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23}
# WAP to perform the following opera∆üons using set func∆üons:
# i. Find the unique scores achieved by both teams (union of sets).
# ii. Iden∆üfy the scores that are common to both teams (intersec∆üon of sets).
# iii. Find the scores that are exclusive to each team (symmetric difference).
# iv. Check if the scores of team A are a subset of team B, and if team B's scores are
# a superset of team A.
# v. Remove a specific score ùëã (input by the user) from set A if it exists. If not, print
# a message saying it is not present.


#4.1
A={34, 56, 78, 90}
B = {78, 45, 90, 23}
print(A.union(B))
#4.2
print(A.intersection(B))
#4.3
print("Exclusive to set A: ",A.symmetric_difference(B))
print("Exclusive to set B: ",B.symmetric_difference(A))
#4.4
print(A.issubset(B))
print(B.issuperset(A))
#4.5
X=int (input("enter the score to be removed: "))
if X in A:
  A.remove(X)
  print(A)
else:
  print("Entered Number is Not in the Set! ")

{34, 45, 78, 23, 56, 90}
{90, 78}
Exclusive to set A:  {34, 45, 23, 56}
Exclusive to set B:  {34, 45, 23, 56}
False
False
enter the score to be removed: 34
{56, 90, 78}

In [34]:
#5
# Write a program to rename a key city to a location in the following dictionary.
Dict={
    "Name":"Kelly",
    "age":25,
    "salary":8000,
    "city":"New York"
}
Dict["Location"]=Dict.pop("city")
print(Dict)

{'Name': 'Kelly', 'age': 25, 'salary': 8000, 'Location': 'New York'}